body {
    padding-top: 20px;
    font-family: 'Nosifer', cursive;
    color: white;
    font-size: 16px;
    text-shadow: -2px 3px black;    
    background: url('../images/sharks.jpg') no-repeat;
    background-size: cover;
}
.container { 
    text-align: center;
    
}
.pad {
    padding: 14px;
    background-color: #000;
    opacity: .7;
}
#activity{
    margin-top: -291px;
}
#gameover-image {
    margin: 5px;
    margin-left: 112px;
    width: 300;
    height: 210px;
}
#youwin-image {
    margin: 5px;
    margin-left: 112px;
    width: 300px;
    height: 210px;
    
}
#currentWord {
    letter-spacing: 10px;
}
#lose {
    color:red;
    margin-right: -10px;
}
#pressKeyTryAgain {
    color:red;
    margin-right: -10px;
    font-size: 27px;
}
#youwin-image { display: none;}
.gameplay-column {
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;
    min-height: 500px;
}